.Avatar {
    width: 100%;
    height: var(--avatar-height);
    padding: 20px 0;
    text-align: center;
    background: var(--color-light-sea-green);
}

.Avatar img{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 1px solid var(--color-light-steel-blue);
}

.Avatar a,
.Avatar h1 {
    font-weight: 300;
    margin: 20px 0 5px;
    text-decoration: none;
    color: var(--color-light-steel-blue);
}

.Avatar p {
    margin: 0 0 10px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-saddle-brown);
}