.Avatar {
    width: 100%;
    height: var(--avatar-height);
    padding: 20px 0;
    text-align: center;
    background: var(--color-light-sea-green);
}

.Avatar img{
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 1px solid var(--color-light-steel-blue);
}

.Avatar a,
.Avatar h1 {
    font-weight: 300;
    margin: 20px 0 5px;
    text-decoration: none;
    color: var(--color-light-steel-blue);
}

.Avatar p {
    margin: 0 0 10px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-saddle-brown);
}


/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .Avatar {
        padding: 15px 0;
        height: var(--avatar-height-landscape);
    }
    .Avatar img {
        display: none;
    }
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .Avatar {
        padding: 15px 0;
        height: var(--avatar-height-landscape);
    }
    .Avatar img {
        display: none;
    }
}