:root {
    --sidebar-width: 270px;
    --avatar-height: 270px;
    --sidebar-width-negative: -270px;
    --avatar-height-landscape: 83px;
}

/*
 * TODO: load themes dynamically
 */
.theme_BigStone {
    --color-big-stone: #17263C;
    --color-brandy: #E2CB9E;
    --color-polar: #E5F7FA;
    --color-rangitoto: #282721;
    --color-fiord: #425A6A;
    --color-translucid-layer: rgba(0, 0, 0, 0.4);

}

/*
 * TODO: load themes dynamically
 */
.theme_ClamShell {
    --color-big-stone: #2B2D57;
    --color-brandy: #CfA8AC;
    --color-polar: #FFFFFF;
    --color-rangitoto: #2B282B;
    --color-fiord: #9ADCEB;
    --color-translucid-layer: rgba(43, 45, 87, 0.4);
}

/*
 * TODO: load themes dynamically
 */
.theme_OldTimes {
    --color-big-stone: #000000;
    --color-brandy: #000000;
    --color-polar: #000000;
    --color-rangitoto: #FFFFFF;
    --color-fiord: #FFFFFF;
    --color-translucid-layer: rgba(255, 255, 255, 0.7);
    filter: grayscale(80%);
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    font-weight: 300;
    overflow-x: hidden;
    background: var(--color-big-stone);
    font-family: 'Raleway', sans-serif;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}