.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--color-rangitoto);

    top: 0;
    left: var(--sidebar-width-negative);
    position: fixed;

    z-index: 2;
    transition: left 0.5s ease-in-out;
}

.showSidebar {
    left: 0;
}

.toggle {
    width: 46px;
    height: 83px;
    background: rgba(0, 0, 0, 0.5);

    top: 167px;
    right: -46px;
    cursor: pointer;
    position: absolute;

    font-size: 26px;
    color: var(--color-brandy);
    line-height: 83px;
    text-align: center;

    z-index: 3;
}

.content {
    width: 100%;
    height: 100%;
}


/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    .toggle {
        top: 0;
    }
}

/* iPhone X in landscape */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) {
    .toggle {
        top: 0;
    }
}