.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--color-rangitoto);

    top: 0;
    left: var(--sidebar-width-negative);
    position: fixed;

    z-index: 2;
    transition: left 0.5s ease-in-out;
}

.showSidebar {
    left: 0;
}

.toggle {
    width: 46px;
    height: 83px;
    background: rgba(0, 0, 0, 0.5);

    top: 0;
    right: -46px;
    cursor: pointer;
    position: absolute;

    font-size: 26px;
    color: var(--color-brandy);
    line-height: 83px;
    text-align: center;

    z-index: 3;
}

.content {
    width: 100%;
    height: 100%;
}