.Gallery {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100%;
}

.Gallery header {
    margin: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px 30px;
    position: absolute;
    color: var(--color-polar);
    background: var(--color-translucid-layer);
}

.Gallery header h1 {
    font-weight: 300;
    font-size: 35px;
    padding: 0 25px;
    margin-bottom: 5px;
}

.Gallery header h3 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--color-brandy);
}

.MainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.navLeft,
.navRight {
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 35%;
    font-size: 34px;
    text-align: center;
    color: var(--color-polar);
    /*
     * Remove blink when tapping on some elements
     */
    -webkit-tap-highlight-color: transparent;
}

.navLeft{
    padding: 2px 0 3px 0;
    left: 10px;
}
.navRight{
    padding: 2px 0 0 3px;
    right: 10px;
}

.prevPhoto {
    height: 100%;
    width: 50%;
    left: 0;
    position: absolute;
    /*
     * Remove blink when tapping on some elements
     */
    -webkit-tap-highlight-color: transparent;
}
.nextPhoto {
    height: 100%;
    width: 50%;
    right: 0;
    position: absolute;
    /*
     * Remove blink when tapping on some elements
     */
    -webkit-tap-highlight-color: transparent;
}

@keyframes Spinner {
    to {transform: rotate(360deg);}
}

.Spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 3px solid var(--color-brandy);
    border-top-color: var(--color-fiord);
    animation: Spinner .8s linear infinite;
}

/* iPhone 6, 7, & 8 in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    .showSidebar {
        display: none;
    }
}

/* iPhone X in portrait */
@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) {
    .showSidebar {
        display: none;
    }
}