.Main {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    z-index: 1;
    padding-left: 0;
    transition: padding 0.5s ease-in-out;
}

.showSidebar {
    padding-left: var(--sidebar-width);
}