.Main {
    top: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    position: absolute;

    z-index: 1;
    padding-left: 0;
    transition: padding 0.5s ease-in-out;
}

.showSidebar {
    padding-left: var(--sidebar-width);
}